{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        {% if not post.is_deleted %}
            <div class="blog-home-post">
                <div class="header">
                    <h2>{{ post.title }}</h2>
                    <span>
                        by
                        <a href="#">{{ post.author.username.capitalize }}</a>
                        <small>on {{ post.date_created }}</small>
                    </span>
                </div>
                <p>{{ post.content }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}